<app-layout></app-layout>

<div class="expanded button-group" style="width: 400px;margin-top: -450px; float: left;margin-left: 400px;height: 200px;width: 600px;text-align: center;vertical-align: middle;padding: 20px;padding-left: 50px">
  <a  class="btn btn-info" routerLink="/Finshed/DriverID" style="margin : 40px ; height: 50px; width: 200px; font-family: 'Lemonada', cursive;" >الرحلات التي تمت</a>
  <a  class="btn btn-info" routerLink="/NotFinshed/DriverID" style=" height: 50px; width: 200px;font-family: 'Lemonada', cursive" >الرحلات التي لم تتم</a>


</div>
<div style="width: 400px;margin-top: -300px; float: left;margin-left: 330px;"> 
  <button  class="btn btn-primary"  (click)="goBack()">الرجوع</button>
</div>
