<app-layout></app-layout>
<div class="container" style="margin-top:-560px;margin-left: 10px;">
  <!-- <a routerLink="/AddProduct" class="btn btn-primary">New Product</a> -->
  <br><br>
  <table class="table" >
    <thead class="thead-light">
      <tr>
      
        <th scope="col">اسم السائق</th>
        <th scope="col">عمر السائق</th>
     
        <th scope="col">عرض</th>
        <th scope="col">عرض الرحلات التي تمت</th>
        <th scope="col">عرض الرحلات التي لم تتم</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Driver of driverList|paginate: { itemsPerPage: 4, currentPage: p }">
        <!-- <td>{{App.NationalID}}</td> -->
        <td>{{Driver.DriverName}}</td>
        <td>{{Driver.Age}}</td>
        <td><a routerLink="/DriverDetails/{{Driver.NationalID}}" class="btn btn-info" >عرض</a></td>
        <td><a routerLink="/Finshed/{{Driver.NationalID}}" class="btn btn-info" >عرض الرحلات التي تمت </a></td>
        <td><a routerLink="/NotFinshed/{{Driver.NationalID}}" class="btn btn-info" >عرض الرحلات التي لم تتم </a></td>
        <!-- <td>{{App.CopyLicenseImage}}</td> -->
        <!-- <td>{{App.CarModel}}</td>
        <td>{{App.CarColor}}</td>
        <td>{{App.CarType}}</td> -->
        <!-- <td><img [src]="pro.image" width="100px" height="100px"></td>
       
        <td><a routerLink="/product/{{pro.ProductID}}" class="btn btn-primary" >Edit</a></td> 
        <td><a routerLink="/Products" class="btn btn-danger" (click)="DeleteProduct(pro.ProductID)">Delete</a></td> 
         -->
      </tr>
    </tbody>
  </table>

  <div style="margin-right:450px">
      <div class="pagination" style="font-language-override: initial ">  
          <pagination-controls (pageChange)="p = $event" previousLabel="السابق" 
          nextLabel="التالي"
    
          
          ></pagination-controls>  
        </div>
        
      
  </div>
  